.phoneNumber {
    font-size: 12px;
}

.phoneNumberCode,
.phoneNumberFirstPart {
    width: 57px;
}

.phoneNumberSecondPart {
    width: 70px;
}

.space {
    margin-bottom: 10px;
}

.symbol {
    margin: 11px 5px 0;
    display: inline-block;
    vertical-align: top;
}
