.block {
    max-width: 1200px;
    margin: 0 auto 20px;
    border-radius: var(--radius);
    border: var(--border);
    box-shadow: var(--boxShadow);

    .block__header {
        padding: 15px 20px;
        background: #f8f8f9;
        border-top-right-radius: var(--radius);
        border-top-left-radius: var(--radius);
        border-bottom: 1px solid #dedfe1;
        font-weight: bold;
        color: var(--blue);
    }

    .block__content {
        padding: 20px;
        border-bottom-right-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
    }
}
