.inputWrapper {
    display: inline-block;
    max-width: 215px;
}

.input {
    width: 215px;
    max-width: 100%;
    height: 35px;
    padding: 0 10px;
    border: var(--borderForm);
    border-radius: var(--radius);
    flex: none;
}

.input:focus {
    outline: none;
}
